<footer class="footer">
  <small>
    By <a href="http://www.akashshaw.com/" target="_blank">Shaw</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://zpzmail.com/" target="_blank">ZPZMail</a></li>
    </ul>
  </nav>
</footer>